<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Take the UNC Iconic Figures Quiz!</title>
        <link rel='stylesheet' href='static/quizstyles.css' />
    </head>
    <body>
        <form method="post">
            <label for="fname">First name:</label>
            <br />
            <input type="text" name="fname">
            <br />
            <label for="lname">Last name:</label>
            <br />
            <input type="text" name="lname">
            <br />
            <label for="major">What category does your primary major fall under?</label>
            <select name="major">
                <option value="stem">STEM</option>
                <option value="soc">Social Sciences</option>
                <option value="hum">Humanities</option>
            </select>
            <br />
            <label for="star">What element does your star sign fall under?</label>
            <select name="star">
               <option value="air">Air sign</option>
               <option value="wat">Water sign</option>
               <option value="ear">Earth sign</option>
               <option value="fire">Fire sign</option>
            </select>
            <br />
            <label for="media">What is your favorite social media?</label>
            <select name="media">
               <option value="youtube">YouTube</option>
               <option value="instagram">Instagram</option>
               <option value="snapchat">Snapchat</option>
               <option value="twitter">Twitter</option>  
               <option value="facebook">FaceBook</option>      
            </select>
            <br />
            <label for="transport">Which transportation do you prefer?</label>
            <select name="transport">
               <option value="car">Car</option>
               <option value="bus">Bus</option>
               <option value="walk">Walking</option>
               <option value="scooter">Scootering</option>
               <option value="plane">Plane</option>
               <option value="train">Train</option>
            </select>
            <br />
            <label for="image">Which image do you most associate with UNC?</label>
            <select name="image">
               <option value="imga">A.</option>
               <option value="imgb">B.</option>
               <option value="imgc">C.</option>
               <option value="imgd">D.</option>
            </select>
            A. <img src="static/sports.jpeg"/>
            B. <img src="static/protest.jpeg"/>
            C. <img src="static/library.png"/>
            D. <img src="static/mail.jpeg"/>
            <br />
            <label for="trad">Which UNC tradition is your favorite?</label>
            <select name="trad">
                <option value="rush">Rushing Franklin Street</option>
                <option value="hack">hack 110</option>
                <option value="well">Drinking from the Old Well on FDOC</option>
                <option value="library">Streaking Davis</option>
            </select>
            <br />
            <label for="building">Which of these spots on campus is your favorite?</label>
           <select name="building">
               <option value="bell">The Bell Tower</option>
               <option value="well">The Old Well</option>
               <option value="quad">The Quad</option>
               <option value="davis">Davis Library</option>
               <option value="dean">The Dean Dome</option>
           </select>
           <br />
           <label for="comp">What is your favorite Python feature?</label>
           <select name="comp">
               <option value="comment"> # comments </option>
               <option value="dict">dictionaries</option>
               <option value="note">Jupyter Notebooks</option>
               <option value="unit">Unit Testing</option>
           </select>
           <br />
           <label for="coach">Who is your favorite coach at UNC?</label>
           <select name="coach">
               <option value="roy">Roy Williams</option>
               <option value="dean">Dean Smith</option>
               <option value="mack">Mack Brown</option>
               <option value="anson">Anson Dorrance</option>
               <option value="god">God</option>
               <option value="kris">Kris Jordan</option>
           </select>
           <br />
           <label for="cheer">Finish the cheer: I’m a tar heel born. I’m a tar heel bred. And when I die, I’m a tar heel ___</label>
           <select name="cheer">
               <option value="ded">dead</option>
               <option value="comp">answer: str = ‘dead’</option>
               <option value="preach">in heaven</option>
               <option value="smart">Educated</option>
           </select>
           <br />
           <label for="slang"> How do you refer to Hinton James?</label>
           <select name="slang">
               <option value="formal">Hinton James Residence Hall</option>
               <option value="hj">HOJO</option>
               <option value="home">HomeJo</option>
           </select>
           <br />
           <label for="history">What is your favorite history fact about UNC?</label>
           <select name="history">
               <option value="bball">UNC leads the UNC/Duke rivalry 141 to 114</option>
               <option value="heavens">UNC is referred to as the “Southern part of heaven.</option>
               <option value="unc">UNC is the first state university</option>
               <option value="blue">There is a shade of blue called carolina blue.</option>
           </select>
           <br />
            <input type="submit" value="Submit">
        </form>
    </body>
</html>